<%- include('partials/head')%>

  <body>
    <%-include('partials/navbar')%>
    <h1>Home Page <%= 4 + 5 + 1 %></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id alias
      repellat laudantium vero ducimus pariatur libero accusamus, modi
      perferendis laboriosam, accusantium quos quas, repellendus molestiae.
      Obcaecati mollitia officiis quis consequuntur?
    </p>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, assumenda
      magni! Voluptatum excepturi totam molestias aut, et doloremque, natus
      illum nemo cupiditate odio deleniti deserunt nostrum sint, voluptates iste
      vitae.
    </p>
  </body>
</html>
